footer.footer 
  .container 
    .row 
      .col-12 
        .footer-wrap  
          .footer-content 
            h4 Giới thiệu
            ul
              li Giới thiệu mô hình HCMUT_SSPS 
              li Giới thiệu sản phẩm 
              li Tư vấn mua hàng 
              li Địa chỉ
              li Liên hệ
          .footer-content 
            h4 Chính sách
            ul
              li Chính sách bảo mật
              li Chính sách mua, bán hàng
              li Chính sách đổi, trả, hoàn tiền
              li Chính sách vận chuyển
              li Chính sách bảo hành
          .footer-content 
            h4 Phương thức thanh toán
            ul
              li 
                img(src="/client/images/momo.png")
              li 
                img(src="/client/images/bank-1.png")
              li 
                img(src="/client/images/bank-2.png")
     
    .row 
      .col-12
        .footer-wrap-2 
          ul.footer-socials 
            li  
              img(src="/client/images/facebook-icon.svg")
            li  
              img(src="/client/images/insta-icon.svg")
            li  
              img(src="/client/images/twitter-icon.svg")
            li  
              img(src="/client/images/email-icon.svg")
          span.footer-copyright Bản quyền © 2024 - THUỘC NHÀ SẢN XUẤT