.main {
  background-color: var(--color-bg-2);
}

/* Header */
.header {
  background-color: var(--color-bg-1);
  position: sticky;
  top: 0;
  z-index: 10;
}

.header .header-wrap-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  gap: 20px;
}

.header .header-wrap-1 .header-logo img {
  width: 247px;
  height: 46px;
  object-fit: contain;
}

.header .header-wrap-1 .header-menu {
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  flex: 1;
}
.header .header-wrap-1 .header-menu li {
  width: 100%;
  text-align: center;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  border-radius: 20px;
  padding: 3px 0;
}

.header .header-wrap-1 .header-menu li:hover {
  background-color: white;
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  cursor: pointer;
}

.header .header-wrap-1 .header-menu li.active {
  background-color: white;
}
.header .header-wrap-1 .header-menu li.active a {
  color: var(--color-bg-1);
}

.header .header-wrap-1 .header-menu li:hover a {
  color: var(--color-bg-1);
}

.header .header-wrap-1 .header-menu li a {
  text-decoration: none;
  color: var(--color-text-2);
  font-weight: 700;
  font-size: 15px;
  width: 100%;
  display: block;
}

.header .header-wrap-1 .header-action {
  display: flex;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.header .header-wrap-1 .header-action:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.header .header-wrap-1 .header-action .dropdown-toggle::after {
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
  color: white;
}

.header .header-wrap-1 .header-action .dropdown button {
  border: none;
}

.header .header-wrap-1 .header-action .dropdown button:focus {
  border: none;
}

.header .header-wrap-1 .header-action .header-login {
  display: flex;
  align-items: center;
  color: white;
  gap: 10px;
}

.header .header-wrap-1 .header-action .header-login .inner-avatar img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.header .header-wrap-1 .header-action .vertical-divider {
  border: 1px solid var(--color-bg-2);
  height: 40px;
  margin: 0 10px;
}

.header .header-wrap-1 .header-action .header-cart {
  color: var(--color-text-2);
  font-size: 15px;
  font-weight: 700;
}

/* End Header */

/* Footer */
.footer {
  background-color: var(--color-bg-2);
  padding: 50px 0;
}

.footer .footer-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 50px;
}

.footer .footer-wrap .footer-content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  margin-top: 20px;
}

.footer .footer-wrap .footer-content ul li {
  margin-bottom: 10px;
}

.footer .footer-wrap .footer-content:last-child ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer .footer-wrap .footer-content:last-child ul li {
  background: white;
  border-radius: 5px;
  padding: 3px;
  width: 55px;
  height: 55px;
}

.footer .footer-wrap .footer-content:last-child ul li:nth-child(1) {
  padding: 0;
}

.footer .footer-wrap .footer-content ul li img {
  width: 50px;
  height: 50px;
}

.footer .footer-wrap .footer-content:last-child ul li:nth-child(1) img {
  width: 100%;
  height: 100%;
}

.footer .footer-wrap-2 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-top: 1px solid #9B9B9B;
  padding-top: 20px;
}

.footer .footer-wrap-2 .footer-socials {
  display: flex;
  align-items: center;
  gap: 12px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer .footer-wrap-2 .footer-copyright {
  color: #9B9B9B;
  font-size: 15px;
}
/* End Footer */

/* Sider */
.sider {
  height: 100vh;
  position: relative;
  box-shadow: 6px 0px 18px 0px #0000000F;
}

.sider .sider-hello {
  color: var(--color-bg-1);
  padding: 20px 40px 20px 20px;
  font-size: 20px;
  font-weight: 600;
}

.sider .sider-info {
  padding: 10px;
  margin: 10px 0 10px 0px;
  border-radius: 10px;
}

.sider .sider-info a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-text-1);
  gap: 20px;
}

.sider .sider-info:hover {
  background: #ECB1B34F;
  cursor: pointer;
}

.sider .sider-info .inner-info {
  width: 80%;
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
}

.sider .sider-info .inner-avatar {
  display: flex;
  align-items: center;
  margin-left: 5px;
  width: 20%;
}

.sider .sider-info .inner-avatar img {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
}

.sider .sider-menu {
  width: 100%;
}
.sider .sider-menu .sider-menu-item {
  border-radius: 10px;
  overflow: hidden;
  padding: 15px;
}
.sider .sider-menu .sider-menu-item a {
  display: flex;
  align-items: center;
  color: black;
  
  gap: 15px;
  text-decoration: none;
}

.sider .sider-menu .sider-menu-item:hover {
  background: #ECB1B34F;
}

.sider .sider-menu .sider-menu-active {
  background: #ECB1B34F;
}

.sider .sider-actions {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.sider .sider-actions .sider-action {
  display: flex;
  align-items: center;
  color: white;
  padding: 8px 15px;
  gap: 15px;
  border-radius: 10px;
}

.sider .sider-actions .sider-action:hover {
  background: #ECB1B34F;
  cursor: pointer;
}
/* End Sider */

/* Show Alert */
[show-alert] {
  position: fixed;
  top: 130px;
  right: 15px;
  z-index: 9999;
}

[show-alert].alert-hidden {
  animation-name: alert-hidden;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes alert-hidden {
  from {
    right: 15px;
  } 
  to {
    right: -100%;
    display: none;
  }
}

[show-alert] [close-alert] {
  background: #ffffffc4;
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-weight: 600;
  border-radius: 50%;
  cursor: pointer;
}
/* End Show Alert */

/* Image Preview */
.image-preview {
  width: 150px;
  height: auto;
  margin-top: 15px;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
}

.image-preview[src=""] {
  display: none;
}
/* End Image Preview */

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}
.loader::before , .loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #FFF;
  animation: prixClipFix 2s linear infinite ;
}
.loader::after{
  border-color: #FF3D00;
  animation: prixClipFix 2s linear infinite , rotate 0.5s linear infinite reverse;
  inset: 6px;
}

@keyframes rotate {
  0%   {transform: rotate(0deg)}
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}